.uniform-cpnt-SwipeLoad .sl-bottom-node,
.uniform-cpnt-SwipeLoad .sl-top-node {
  text-align: center;
  overflow: hidden;
}
body {
  overflow: auto;
}
.item {
  margin-bottom: 10px;
}
img {
  width: 100%;
}
